In [3]:
import pandas as pd

feature_names = ['party', 'handicapped-infants', 'water-project-cost-sharing',
                 'adoption-of-the-budget-resolution', 'physician-fee-freeze',
                 'el-salvador-aid', 'religiouss-groups-in-schools',
                 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras',
                 'mx-missle', 'immigration', 'synfuels-corporation-cutback',
                 'education-spending', 'superfund-right-to-sue', 'crime',
                 'duty-free-exports', 'export-administration-act-south-africa'] 

voting_data = pd.read_csv('house-votes-84.data.txt', na_values=['?'],
                          names=feature_names)


voting_data.head()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religiouss-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y

In [4]:
voting_data.describe()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religiouss-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
count,435,423,387,424,424,420,424,421,420,413,428,414,404,410,418,407,331
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,democrat,n,y,y,n,y,y,y,y,y,y,n,n,y,y,n,y
freq,267,236,195,253,247,212,272,239,242,207,216,264,233,209,248,233,269

In [5]:
voting_data.dropna(inplace=True)
voting_data.describe()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religiouss-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
count,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,democrat,n,n,y,n,y,y,y,y,n,y,n,n,y,y,n,y
freq,124,136,125,123,119,128,149,124,119,119,128,152,124,127,149,146,189

In [7]:
voting_data.replace(('y', 'n'), (1, 0), inplace=True)
voting_data.replace(('democrat', 'republican'), (1, 0), inplace=True)

In [8]:
voting_data.head()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religiouss-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,1,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
8,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
19,1,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
23,1,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1
25,1,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1

In [9]:
all_features = voting_data[feature_names].values
all_classes = voting_data['party'].values

In [10]:
voting_data

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religiouss-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,1,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
8,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
19,1,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
23,1,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1
25,1,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,1,0,1,1,0,0,1,1,1,1,0,1,0,0,1,1,1
426,1,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1
427,0,0,0,0,1,1,1,1,1,0,1,0,1,1,1,0,1
430,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1,0,1
431,1,0,0,1,0,0,0,1,1,1,1,0,0,0,0,0,1

In [11]:
all_features

array([[1, 0, 1, ..., 1, 1, 1],
       [0, 0, 1, ..., 1, 0, 1],
       [1, 1, 1, ..., 0, 1, 1],
       ...,
       [0, 0, 0, ..., 1, 0, 1],
       [0, 0, 0, ..., 1, 0, 1],
       [1, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [12]:
all_classes

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1], dtype=int64)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(all_features, all_classes, test_size=0.2, random_state=42)

In [14]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [22]:
model = Sequential()
model.add(Dense(8, activation='relu', input_shape=(17,)))
model.add(Dropout(0.5))
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

In [23]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 144

 dropout_2 (Dropout)         (None, 8)                 0

 dense_4 (Dense)             (None, 8)                 72

 dropout_3 (Dropout)         (None, 8)                 0

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 225
Trainable params: 225
Non-trainable params: 0
_________________________________________________________________

In [27]:
model.compile(loss='binary_crossentropy',
              optimizer=keras.optimizers.Adam(),
              metrics=['accuracy'])

In [29]:
history = model.fit(X_train, y_train,
                   epochs=20,
                   verbose=2,
                   validation_data=(X_test, y_test))

Epoch 1/20
6/6 - 0s - loss: 0.1396 - accuracy: 0.9568 - val_loss: 0.0104 - val_accuracy: 1.0000 - 33ms/epoch - 5ms/step
Epoch 2/20
6/6 - 0s - loss: 0.1579 - accuracy: 0.9514 - val_loss: 0.0107 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 3/20
6/6 - 0s - loss: 0.1403 - accuracy: 0.9622 - val_loss: 0.0108 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 4/20
6/6 - 0s - loss: 0.1206 - accuracy: 0.9622 - val_loss: 0.0106 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 5/20
6/6 - 0s - loss: 0.1053 - accuracy: 0.9892 - val_loss: 0.0099 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 6/20
6/6 - 0s - loss: 0.1525 - accuracy: 0.9622 - val_loss: 0.0095 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 7/20
6/6 - 0s - loss: 0.1312 - accuracy: 0.9730 - val_loss: 0.0092 - val_accuracy: 1.0000 - 18ms/epoch - 3ms/step
Epoch 8/20
6/6 - 0s - loss: 0.0889 - accuracy: 0.9784 - val_loss: 0.0088 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 9/20
6/6 - 0s - loss: 0.1058 - accuracy: 0.9730 - val_loss: 0.0085 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 10/20
6/6 - 0s - loss: 0.1174 - accuracy: 0.9730 - val_loss: 0.0083 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 11/20
6/6 - 0s - loss: 0.1324 - accuracy: 0.9622 - val_loss: 0.0082 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 12/20
6/6 - 0s - loss: 0.1358 - accuracy: 0.9676 - val_loss: 0.0083 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 13/20
6/6 - 0s - loss: 0.0901 - accuracy: 0.9892 - val_loss: 0.0092 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 14/20
6/6 - 0s - loss: 0.1568 - accuracy: 0.9514 - val_loss: 0.0103 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 15/20
6/6 - 0s - loss: 0.1726 - accuracy: 0.9459 - val_loss: 0.0114 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 16/20
6/6 - 0s - loss: 0.1693 - accuracy: 0.9351 - val_loss: 0.0120 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 17/20
6/6 - 0s - loss: 0.1198 - accuracy: 0.9784 - val_loss: 0.0120 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 18/20
6/6 - 0s - loss: 0.1323 - accuracy: 0.9568 - val_loss: 0.0119 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step
Epoch 19/20
6/6 - 0s - loss: 0.1589 - accuracy: 0.9514 - val_loss: 0.0115 - val_accuracy: 1.0000 - 18ms/epoch - 3ms/step
Epoch 20/20
6/6 - 0s - loss: 0.1313 - accuracy: 0.9568 - val_loss: 0.0112 - val_accuracy: 1.0000 - 17ms/epoch - 3ms/step

In [30]:
score = model.evaluate(X_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test acc:', score[1])

Test loss: 0.011217251420021057
Test acc: 1.0